<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Desenvolvimento de Sistemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desenvolvimento de Sistemas</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    <ion-img src="assets/enfermos.jpg" alt="Ds"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>Período: Tarde</ion-label>

      </ion-item>
      <ion-item>
        <ion-label>Duração do Curso: 18 meses</ion-label>

      </ion-item>
    </ion-list>
    <ion-title class="tituloD">Descrição</ion-title>
    <ion-label>
      <p>O aluno aprende técnicas para auxiliar na recuperação de um paciente, assim como a prevenção de doenças, orientação para exames, entre outros procedimentos. O curso tem base na biologia, para aprender sobre o corpo humano; na matemática, para cálculos de medida para medicações; na física, para entender os riscos que o paciente corre, como a velocidade de uma batida de um veículo para entender os tipos de lesões possíveis, por exemplo; e português, para escrever corretamente no prontuário do paciente.</p>
    </ion-label>
    <ion-title class="tituloD">Atuação</ion-title>
    <ion-label>
      <p>O técnico cumpre função assistencial ao enfermeiro, como cuidados básicos em pacientes graves, aplicação de vacina, dar um banho em um paciente, auxiliar em exames, entre outras funções. Pode atuar na área administrativa, na prevenção e pode montar ações educativas, na área de segurança do trabalho.</p>
    </ion-label>
    <ion-title class="tituloD">Onde trabalhar</ion-title>
    <ion-label>
      <p>Unidades básicas de saúde, hospitais, casa de repouso, escolas e clínicas.</p>
    </ion-label>
  </body>
</ion-content>
