<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Desenvolvimento de Sistemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desenvolvimento de Sistemas</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    <ion-img src="assets/segurança.jpg" alt="Ds"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>Período: Noite</ion-label>

      </ion-item>
      <ion-item>

        <ion-label>Duração do Curso: 18 meses</ion-label>
      </ion-item>
    </ion-list>
    <ion-title class="tituloD">Descrição</ion-title>
    <ion-label>
      <p>Técnicas para prevenir doenças e acidentes de trabalho são o foco do curso. Além do português para interpretar leis e as normas obrigatórias no ambiente de trabalho, o estudante aprenderá física para estudar o ruído e a vibração das ferramentas e equipamentos utilizados pelos funcionários da empresa. A matemática para a avaliação dos riscos ambientais também é uma disciplina básica para a compreensão do curso. O aluno vai aprender primeiros socorros e combate a incêndio.</p>
    </ion-label>
    <ion-title class="tituloD">Atuação</ion-title>
    <ion-label>
      <p>O profissional atua na identificação de riscos presentes nos ambientes de trabalho, estuda a aplicação das normas obrigatórias e propõe soluções para a prevenção de acidentes. O técnico também ajuda no treinamento dos funcionários em relação à segurança no trabalho. É responsável por selecionar os equipamentos de proteção de acordo com a necessidade de cada funcionário.</p>
    </ion-label>
    <ion-title class="tituloD">Onde trabalhar</ion-title>
    <ion-label>
      <p>Construção civil, indústrias, hospitais, mineradoras, áreas agrícolas, portuárias, entre outras.</p>
    </ion-label>
  </body>
</ion-content>
