<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EM Desenvolvimento de Sistemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EM Desenvolvimento de Sistemas</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    <ion-img src="assets/etec.jpg" alt="Ds"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>Duração do Curso: 18 meses</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Período: Noite</ion-label>
      </ion-item>
    </ion-list>
    <ion-title class="tituloD">Descrição</ion-title>
    <ion-label>
      <p>É o profissional que analisa e projeta sistemas. Constrói, documenta, realiza testes e mantém sistemas de informação. Utiliza ambientes de desenvolvimento e linguagens de programação específica. Modela, implementa e mantém bancos de dados.</p>
    </ion-label>
    <ion-title class="tituloD">Onde trabalhar</ion-title>
    <ion-label>
      <p>Empresas e departamentos de desenvolvimento de sistemas em organizações governamentais e não governamentais, podendo também atuar como profissional autônomo.</p>
    </ion-label>
  </body>
</ion-content>
