<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Desenvolvimento de Sistemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contabilidade</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    <ion-img src="assets/contabilidade.jpg" alt="Ds"></ion-img>
    <ion-title class="tituloD">Descrição</ion-title>
    <ion-label>
      <p>O curso técnico em Contabilidade tem aproximadamente 800h de duração e seu objetivo é desenvolver profissionais que trabalham ativamente no fornecimento de informações que colaboram com o crescimento financeiro de empresas. O profissional está apto para realizar a escrituração contábil, cálculos tributários, transações e acompanhamento financeiro, avaliando receita, lucro e despesas.

        A área contábil é conhecida pela boa empregabilidade e estabilidade no mercado. Por isso, muitas pessoas encontram nessa profissão uma maneira de construir uma carreira com êxito.</p>
    </ion-label>
    <ion-title class="tituloD">Atuação</ion-title>
    <ion-label>
      <p>Ajuda na preparação dos documentos necessários para a abertura ou o encerramento de uma empresa. Calcula os tributos (impostos, taxas e contribuições) que uma empresa deve pagar ao governo. Emite notas fiscais, gera boletos bancários e guias para o pagamento dos tributos. Registra os bens comprados e vendidos pela empresa. Elabora planilhas de controle de bens ou de estoque de mercadorias e produtos. Organiza e arquiva documentos. Auxilia na produção de relatórios diversos referentes às contas da empresa, ao cálculo do lucro ou prejuízo, do desempenho de vendas, das dívidas e dos demais demonstrativos de resultados..</p>
    </ion-label>
    <ion-title class="tituloD">Onde trabalhar</ion-title>
    <ion-label>
      <p>Está apto para trabalhar em vários departamentos de qualquer tipo de empresa e em escritórios de Contabilidade.</p>
    </ion-label>
  </body>
</ion-content>
