<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ADM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tec. ADM</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/"></ion-back-button></ion-buttons>
    <ion-icon color="primary">Sobre</ion-icon>
  </ion-toolbar>
</ion-header>

<!-- ## ionic generate page cursos/adm -->
